table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.note{
    width: 50%;
    color: beige;
}
.button{
    color: white;
    background-color: cornflowerblue;
}